.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

/*! header */

.header {
}

.header-container {
}

.header-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-item {
    display: flex;
}

.header-link {
    position: relative;
    padding: 10px 20px;
    /* outline: solid 2px tomato; */
}

.header-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block ;
    width: 100%;
    height: 5px;
    background-color: #008080;
    opacity: 0;
    transform: translateX(0);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1)0ms, 
    transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1)0ms;

}

.header-link:hover::after {
    opacity: 1;
    transform: translateX(1);

}

/*! page home */

.page {
}

.page-home {
}

.page-home-hero {
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-home {
}

.hero-home-container {
}

.hero-home-button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    padding: 10px 30px;
    background-color: pink;
    border: 2px solid #008080;
    color: #fff;
    font-size: 18px;
    transition: background-color 500ms cubic-bezier(0.83, -0.08, 0.32, 1)1000ms, 
    color 500ms cubic-bezier(0.83, -0.08, 0.32, 1)1000ms;

}

.hero-home-button:before, .hero-home-button:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1)1000ms;
}

.hero-home-button:before{
    background-image: url(/img/cat.webp);
    margin-right: 5px;
}

.hero-home-button:after{
    position: absolute;
    top: 50%;
    left: 30px;
    background-image: url(/img/dog.webp);
    transform: translateY(calc(-50% + 35px));
    
}

.hero-home-button:hover, .hero-home-button:focus {
    background-color: lightblue;
    color: black;
}

.hero-home-button:hover::before{
    transform: translateY(-35px);
}

.hero-home-button:hover::after{
    transform: translateY(-50%);
}

/*! page home product */

.page-home-article {
}

.article-home {
    margin-bottom: 100px;
}

.article-home-container {
}

.article-home-product {
    width: 370px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.article-home-product-thumb {
    position: relative;
    overflow: hidden;
}

.article-home-product-image {
}

.article-home-product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 0s, opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 0s;
}

.article-home-product:hover .article-home-product-overlay{
    opacity: 1;
    transform: translateX(0);
}

.article-home-product-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    outline: 2px solid tomato;
    transition: actions 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 0.1s;
}

.article-home-product:hover .article-home-product-actions{
    opacity: 0.9;
}


.article-home-product-item {
}

.article-home-product-icon {
    width: 30px;
    height: 30px;
}

.article-home-product-meta {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-home-product-name {
    font-size: 20px;
    font-weight: 600;
}

.article-home-product-price {
}

/*! modal home */

.page-home-modal {
}

.modal-home {
    margin-bottom: 100px;
}

.modal-home-container {
}

.container {
}

.modal-home-button-open {
    padding: 10px 15px;
    background-color: gray;
    border-radius: 20px;
}

.modal-home-backdrop {
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color:rgba(0, 0, 0, 0.5) ;
    visibility: visible;
    pointer-events: all;
    transition: visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1)0ms, 
    opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1)0ms;
}

.is-hidden {

}

.modal-home-backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-home-modal {
    transition: transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;
    min-height: 350px;

}

.modal-home-backdrop.is-hidden .modal-home-modal{
transform: translate(-50%, -50%) scale(0);
}

.modal-home-button-close {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}

.modal-home-text {
}

.footer {
}